body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 75px;
    color: white;
    text-shadow: 20px 20px 15px black;
}

#buttonBox {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#rock:hover, #paper:hover, #scissors:hover {
    background-color: gold;
    transition: .25s linear;
}

img {
    width: 100px;
    height: 100px;
}

button {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 10px;
    font-weight: bold;
}

#choiceDisplay {
    display: flex;
    justify-content: space-between
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
}

#player, #cpu {
    font-style: italic;
}

#winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
    gap: 10px;
    color: white;
}

#playAgain {
    height: 70px;
    font-size: large;
    font-weight: bold;
    visibility: hidden;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: auto;
    width: 100vw;
}